body {
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.header {
flex-flow: row wrap;
font-weight: bold;
text-align: center;
/* background-color: lavender; */
padding-top: 5%;
height: 20%;
}

img {
  /* width: 500px; */
  float: left;
  padding-left: 20px;
}

.header image {
  width: 200px;
  float: left;
  padding-left: 20px;
}

.logo {
  /* width: 500px;
  width: 10%; */
  float: left;
  /* background-image: url('images/scij_logo.png'); */
  background-size: cover;
  padding-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #1f3552;
  width: 100vw;
  height: 7vh;
  color: white;
  display: flex; 
  align-items: center;
  padding-left: 2vw;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #f46500;
  color: white;
}

/* .header-img {
  width: 100%;
  background: url();
  background-size: cover;
  padding-left: 100px;
} */

#header-with-logo {
  width: 50%;
  height: 20px;
  padding-left: 5%;
}

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
max-width: 90%;
padding-left: 10%;
padding-top: 2%;
}

.div1 {
  padding-top: 5%;
  padding-left: 20%;
}

.div2 {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
  margin-top: 5vh;
  padding: 3vh;
  display: flex; 
  align-items: center;
  flex-direction: column;
  width: 30vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 25px;
}


.div3 {
  grid-area: 1 / 2 / 2 / 3;
  padding-left: 20%;
  padding-right: 5%;
  /* to align "Next" buttons */
  padding-top: 5%;
  display: block;

}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
  padding-left: 5%;
  padding-top: 10%;
  background-color: orange;

}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
  padding-right: 5%;
  padding-top: 30%;
  background-color: blue;

}

.div6 {
  grid-area: 3 / 1 / 4 / 2;
  margin: auto;
  width: 50vw; 
  text-align: center;

}

.div7 {
  grid-area: 3 / 2 / 4 / 3;
  padding-right: 5%;
  padding-top: 10%;
  background-color: purple;

}

.div8 {
  grid-area: 4 / 1 / 5 / 2;
  width: 50vw; 
  margin: auto;
  display: flex; 
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.div9 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: red;
}

.error {
  color: #D8000C;
  background-color: #FFD2D2;
  width: 50vw; 
  margin: auto;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button{
  border: none;
  color: #ffff;
  background-color: #1f3552;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 14px;
  border-radius: 12px;
  cursor: pointer;
}

.previous{
  padding-top: 100%;
}

.next{
  padding-left: 70%;
  /* padding-left: 150%; */
  padding-top: 30%;
  /* width: 60px; */
  float: right;
}

/* .image-button{ */
  /* padding-left: 75%; */
  /* padding-top: 5%;
} */

input[type="submit" i] {
  border: none;
  color: #ffff;
  background-color: #f46500;
  padding: 10px 14px;
  border-radius: 12px;
}

/* CSS to style matrix */
.matrixButton {
    height: 5vh;
    width: 5vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.matrixButton:hover {
    background: #335683;
}

.matrixCell {
    height: 10vh;
    width: 10vh;
    min-width: 7vh;
    min-height: 7vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    white-space: pre-wrap;
}

.matrixCell:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.matrixRow {
    margin: auto;
    display: flex;
    justify-content: center;
}

.matrixControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.matrixBackground {
  margin: auto;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
  height: 200vh; 
  width: 200vw; 
}

.matrixContainer {
    margin-left: 100vw;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}

.matrixWindow {
  margin: auto;
  height: 90vh;
  width: 90vw;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 3vh; 
  padding-top: 3vh; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 25px;
  cursor: grab;
}

.matrixContainer::-webkit-scrollbar {
    width: 20px;
}
.matrixContainer::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.matrixContainer::-webkit-scrollbar-thumb {
border-radius: 100px;
border: 6px solid rgba(0, 0, 0, 0.18);
border-left: 0;
border-right: 0;
background-color: #1f3552;
}

/* .matrixNameCell {
    background-color: #f46500;
    height: 10vh;
    width: 10vh;
    min-width: 7vh;
    min-height: 7vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    white-space: pre-wrap;
} */


/* CSS to style slider for excel download selection */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
